* {
  box-sizing: border-box;
}

body {

  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

ul,
ol {
  padding: 0;
}

li {
  list-style-type: none;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
}

.logo img {
  width: 100px;
  height: auto;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.menu li a:hover {
  text-decoration: underline;
}

.buscador {
  display: flex;
  align-items: center;
}

.formulario {
  display: flex;
  align-items: center;
}

.search {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.lupa {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}

.alert {
  margin-left: 10px;
  color: #ff0000;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.iconos a {
  color: #333;
  text-decoration: none;
  margin-right: 10px;
}

.iconos a:hover {
  text-decoration: underline;
}

footer p {
  font-size: 12px;
  color: #777;
  margin-top: 10px;
}

.canciones {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  overflow: scroll;
  border-style: solid;
  border-radius: 15px;
  margin-bottom: 100px;
  text-align: center;
}

.canciones a {
  color: #333;
}

.canciones img {
  height: 200x;
  width: 200px;
  margin-right: 20px;
  margin-left: 20px;
  overflow: scroll;
}

.albumes {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  overflow: scroll;
  border-style: solid;
  border-radius: 15px;
  margin-bottom: 100px;
  text-align: center;
}

.albumes a {
  color: #333;
}

.albumes img {
  height: 200x;
  width: 200px;
  margin-right: 20px;
  margin-left: 20px;
  overflow: scroll;
}

.artistas {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  overflow: scroll;
  color: white;
  border-style: solid;
  border-radius: 15px;
  margin-bottom: 100px;
  text-align: center;
}

.artistas a {
  color: #333;
}

.artistas img {
  height: 200x;
  width: 200px;
  margin-right: 20px;
  margin-left: 20px;
  overflow: scroll;
}

.sectGenres {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  overflow: scroll;
  border-style: solid;
  border-radius: 15px;
  margin-bottom: 100px;
  text-align: center;

}

.sectGenres article a {
  color: #333;
}

.sectGenres img {
  height: 200x;
  width: 200px;
  margin-right: 20px;
  margin-left: 20px;
  overflow: scroll;
}


/* Estilo para el título */
.tituloDetail {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

/* Estilo para la sección de detalles del track */
.track-details {
  margin-top: 20px;
}

/* Estilo para el contenedor del track */
.trackbox {
  background-color: #f2f2f2;
  padding: 10px;
  color: black;
}

.trackbox a {
  color: #333;
  text-decoration: none;
  margin-right: 10px;
}


/* Estilo para el botón de agregar a la playlist */
.boton {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.boton:hover {
  background-color: #45a049;
}
.artist-album {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  border-style: solid;
  border-radius: 15px;
  margin-bottom: 100px;
  text-align: center;
  justify-content: space-around;
}

.artist-album a {
  color: #333;
  align-items: center;
}

.artist-album img {
  height: 200x;
  width: 200px;
  margin-right: 20px;
  margin-left: 20px;

}

#darkmode

:root {
  background-color: #ffffff;
  color: #333;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.dark-mode {
  background-color: #333;
  color: #ffffff;
}
