* {box-sizing: border-box;}
 
body {
    
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}        
 
ul, ol {padding: 0;}
 
li {list-style-type: none;}

 
a {text-decoration: none; color: black
}

  .logo{
    height: 163px;
    width: 221px
  }
  .iconos {
    text-align: center;
    margin-top: 2%;

}

header {
    text-decoration: none;
    font-family: 'Roboto', 'swap';
    display: flex;
    color: black;
    margin: 15px;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 15px;
}
header {
    color: black;
    background-color: white;
    text-decoration: none;
  
}
.logo {
  height: 100px;
  width: 100px;

}

.menu {
  color: black
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: black;
  text-decoration: none;
}

nav ul li a:hover{
	text-decoration: underline;
}

.canciones{
  background-color: black;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    overflow: scroll;
    color: white;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 100px;
    text-align: center;
}
.canciones img {
  height: 200x;
  width: 200px;
  margin-right: 20px;
  margin-left: 20px;
  overflow: scroll;
}
.albumes{
  background-color: black;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  overflow: scroll;
  color: white;
  border-style: solid;
  border-radius: 15px;
  margin-bottom: 100px;
  text-align: center;
}
.albumes img {
  height: 200x;
  width: 200px;
  margin-right: 20px;
  margin-left: 20px;
  overflow: scroll;
}
.artistas{
  background-color: black;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  overflow: scroll;
  color: white;
  border-style: solid;
  border-radius: 15px;
  margin-bottom: 100px;
  text-align: center;
}
  

.artistas img {
  height: 200x;
  width: 200px;
  margin-right: 20px;
  margin-left: 20px;
  overflow: scroll;
}